<?xml version="1.0" encoding="UTF-8"?>
<config>
    <verifyCell>
        <searchColumn>1</searchColumn>
        <searchText>Alfreds Futterkiste</searchText>
        <returnColumnText>3</returnColumnText>
        <expectedText>Germany</expectedText>
    </verifyCell>
    <verifyCell>
        <searchColumn>1</searchColumn>
        <searchText>Alfreds Futterkiste</searchText>
        <returnColumnText>2</returnColumnText>
        <expectedText>Germany</expectedText>
    </verifyCell>
    <verifyCell>
        <searchColumn>2</searchColumn>
        <searchText>Yoshi Tannamuri</searchText>
        <returnColumnText>3</returnColumnText>
        <expectedText>Canada</expectedText>
    </verifyCell>
    <verifyCell>
        <searchColumn>3</searchColumn>
        <searchText>Italy</searchText>
        <returnColumnText>2</returnColumnText>
        <expectedText>Giovanni Rovelli</expectedText>
    </verifyCell>
</config>